
/* 
    Trevor Kulczycki-McIntyre
    Assignment 2
    Internet Programming section 00001
 */




/* Remove Default Padding and Margin */
* {
    margin: 0;
    padding: 0;
}

/* General Styles */
body {
    background-color: rgb(238, 238, 225);
}



nav a:hover {
    color: red;
}


.about-us h2 {
    color: rgb(61, 194, 61);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;

}



.about-us blockquote {
    padding-top: 5%;
    margin-left: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* Contact Information */
.contact-info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5%;
    margin-top: 20%;
}


.contact-info p {
    line-height: 30px;
}

.contact-info em {
    color: rgb(58, 187, 58);
}

.contact-info a {
    color: rgb(58, 187, 58);


}

footer {
    text-align: center;
    bottom: 0;
    margin-top: 3%;
    margin-bottom: 1%;
}



/* programs.html */


.our-programs h2 {
    padding-left: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(58, 187, 58);
    padding-top: 3%;

}

.our-programs p
 {  
    text-align: center;
    padding: 2%;
    margin: auto;
    max-height: 70%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.our-programs a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: rgb(58, 178, 58);
    font-weight: bold;
}
/* Program Columns */
.program-cols {
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    margin: auto;

}

.program-col p,
h3 {
    text-align: center;
    padding: 2%;
    margin: auto;
    max-height: 70%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.program-col h3 {
    color: rgb(58, 187, 58);
    margin-top: 5%;
}


.program-col p {
    margin-bottom: 5%;

}

/* Program Pictures */
.prog-pic {
    width: 50%;
    margin: auto;
    padding: auto;

}

.prog-pic img {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    height: 200px;

}

/* register.html */

/* Form */
.form-box {
    margin-left: 5%;
    margin-top: 3%;
}

.input-box {
    display: flex;
    margin-top: 1%;
}

.input-box label {
    width: 200px;
    margin-right: 30px;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(58, 187, 58);
}

.input-box input {
    border-radius: 5px;
    width: 50vw;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Table */
table {
    border-collapse: collapse;
    border: solid rgb(58, 187, 58) 2px;
    text-align: center;
    margin: auto;
    width: 80%;

}



.table-box tr,
td,
th {
    border: solid rgb(58, 187, 58) 2px;
}

.table-box td,
th {
    padding: 2% 10px 2%;
    font-size: x-large;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.table-box {
    margin: auto;
    margin-top: 5%;
}

.colored-row {
    background-color: #b8d9c8;
}
/* Optional Dinner */
.dinner-box {
    margin: auto;
    text-align: center;
    margin-top: 2%;
    color: rgb(58, 187, 58);
    font-size: x-large;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Checkboxes */
#ecom-check {
    height: 20px;
    width: 20px;
    border-radius: 25px;
}

#future-check {
    height: 20px;
    width: 20px;
    border-radius: 25px;
}

#web-check {
    height: 20px;
    width: 20px;
    border-radius: 25px;
}

#net-check {
    height: 20px;
    width: 20px;
    border-radius: 25px;
}

#dinner-check {
    height: 20px;
    width: 20px;
    border-radius: 25px;
}

#ecom-check:hover {
    border-width: 3px;
    border-color: rgb(58, 187, 58);
}

#future-check:hover {
    border-width: 3px;
    border-color: rgb(58, 187, 58);

}

#web-check:hover {
    border-width: 5px;
    border-color: rgb(58, 187, 58);

}

#net-check:hover {
    border-width: 3px;
    border-color: rgb(58, 187, 58);

}

#dinner-check:hover {
    border-width: 3px;
    border-color: rgb(58, 187, 58);

}




/* Total Section */
.total-box {
    text-align: center;
    margin-top: 3%;
    margin-right: 5%;
}

.total-box label {
    font-size: x-large;
    color: rgb(58, 187, 58);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-right: 1%;
    text-align: center;

}

.total-box input {
    height: 40px;
    color: rgb(58, 187, 58);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: xx-large;
    max-width: 100px;

}

/* Calculate and Submit Buttons */
#calc-button {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 10px;
    font-size: x-large;
    color: black;
    background-color: #b8d9c8;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#calc-button:hover {
    border-width: 4px;
    color: rgb(58, 187, 58);
    border-color: rgb(58, 187, 58);
}

#submit-button {

    display: inline;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding: 10px;
    font-size: x-large;
    color: black;
    background-color: #b8d9c8;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

#submit-button:hover {
    border-width: 4px;
    color: rgb(58, 187, 58);
    border-color: rgb(58, 187, 58);
}
/* Javascript Added Elements */
.invalid-purchase {
    color: red;
    margin-top: 2%;


}

.invalid-form {
    color: red;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2%;

}

/* Media Queries */

/* Large Screens */
@media only screen and (min-width: 1000px) {

    header nav {
        display: inline;
    }
    header h1 {
        display: inline;
        padding-left: 4%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 3vw;
    }
    nav a {
        padding-right: 20px;
        text-decoration: none;
        float: right;
        margin-right: 2%;
        padding-top: 1%;
        font-size: 1.3vw;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        color: rgb(58, 187, 58);
    }

    header {
        padding-top: 2%;
        padding-bottom: 1%;
        width: 100%;
        border-bottom-right-radius: 25px;
        background: linear-gradient(to right, rgb(61, 194, 61), rgb(238, 238, 225));
    }

    .about-us h4 {
        margin-top: 2%;
        width: 80%;
        padding-left: 4%;
        padding-right: 10%;
        font-size: large;

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .about-us-text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 3%;

    }

    .about-us h2 {
        color: rgb(61, 194, 61);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: xx-large;

    }



    .about-us-header {
        margin-top: 2%;
        margin-left: 2%;
    }

    .about-us h4 {
        margin-top: 2%;
        width: 80%;
        padding-left: 4%;
        padding-right: 10%;
        font-size: large;

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .about-us-text {

        padding-top: 3%;

    }


    .img-box {

        padding-right: 2%;

    }

    .img-box img {
        width: 80%;
        border-radius: 25px;

    }



    .our-programs h2 {
        padding-left: 5%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(58, 187, 58);
        padding-top: 3%;
    
    }
    
    .program-cols {
        width: 80%;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        margin: auto;
    
    }
    
    .program-col p,
    h3 {
        text-align: center;
        padding: 2%;
        margin: auto;
        max-height: 70%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    
    .program-col h3 {
        color: rgb(58, 187, 58);
        margin-top: 5%;
    }
    
    
    .program-col p {
        margin-bottom: 5%;
    
    }

}







/* Medium Screens */
@media only screen and (min-width: 650px) and (max-width: 999px) {


    header h1 {
        text-align: center;
        padding-left: 4%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 5vw;
    }


    nav a {
        font-size: 2vw;
        display: block;
        text-decoration: none;
        font-size: 2vw;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        color: #f5f5f5;
        text-align: center;
        border: solid 1px #f5f5f5;
        padding: 10px;

    }

    nav {
        display: block;
        float: none;
        background-color: #b8d9c8;
        margin-top: 2%;
    }

    header {
        padding-top: 2%;

        border-bottom-right-radius: 25px;
        background: linear-gradient(to bottom, rgb(58, 178, 58), rgb(238, 238, 225));
    }

    .about-us h4 {
        margin-top: 2%;
        width: 80%;
        font-size: large;
        display: block;
        margin: auto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .about-us-text {
        padding-top: 3%;
        text-align: center;
    }

    .about-us h2 {
        color: rgb(61, 194, 61);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: xx-large;
        text-align: center;
    }



    .about-us-header {
        margin-top: 2%;

        
    }

    

    .contact-info {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .img-box {
        margin: auto;

    }

    .img-box img {
        width: 100%;
        border-radius: 25px;
        margin: auto;
    }


   
    
    .program-cols {
        width: 80%;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        margin: auto;
    
    }
    
    




}
/* Small Screens */
@media only screen and (min-width: 280px) and (max-width: 849px) {
    header h1 {
        text-align: center;
        padding-left: 4%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 5vw;
    }

    nav a {
        display: block;
        text-decoration: none;
        font-size: 2.6vw;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        color: #f5f5f5;
        text-align: center;
        border: solid 1px #f5f5f5;
        padding: 10px;

    }

    header {
        padding-top: 2%;
        border-bottom-right-radius: 25px;
        background: linear-gradient(to bottom, rgb(58, 178, 58), rgb(238, 238, 225));
    }

   
    

    nav {
        display: block;
        float: none;
        background-color: #b8d9c8;
        margin-top: 2%;
        width: 100%;
    }


    .about-us h4 {
        width: 90%;
        margin-top: 2%;
        margin-left: 3%;
        margin-right: 2%;
        text-align: center;
        font-size: large;
        display: block;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .about-us-text {
        padding-top: 3%;
        text-align: center;
    }

    .about-us h2 {
        color: rgb(61, 194, 61);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: xx-large;

    }



    .about-us-header {
        margin-top: 2%;
        text-align: center;
    }

    

    .contact-info {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .img-box {
        margin: auto;

    }

    .img-box img {
        width: 100%;
        border-radius: 25px;
        margin: auto;
    }


    footer{
        margin-bottom: 4%;
    }


    
    
    .program-cols {
        width: 80%;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        margin: auto;
    
    }
    
 
    
 
    
    









}